* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    min-height: 100vh;
}

.main-container {
    flex: 1;
;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
}

.navbar ul {
    /* removes the bullet points from the unordered list */
    list-style: none;
    display: flex;
    /* justifies the content of the container to the left hand side */
    justify-content: flex-start;
}

.navbar ul li {
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.navbar ul a {
    text-decoration: none;
    color: white;
}

.hero { 
    background-color: lightblue;
    text-align: center;
    padding: 60px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero-image {
    border-radius: 10px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    padding: 40px;
    flex-grow: 1;
}

.portfolio h2 {
    text-align: center;
    font-size: 2em;
    flex: 1;
    margin-bottom: 20px;

}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    
}

.card {
    width: 300px;
    overflow: hidden;
    /* first value = x axis, second value = y axis, third value = blur, fourth value = spread */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

.card-content p {
    text-align: center;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding-bottom: 15px;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul a {
    text-decoration: none;
    color: white;
}

footer p {
    color: white;
}